version: "3"
services:
  corganize-server:
    image: jaeseoparkdocker/corganize-server:latest
    ports:
      - {{ corganize_server_port }}:{{ corganize_server_port }}
    environment:
      TZ: America/Denver
    volumes:
      - {{ db_path }}:/database
      - {{ log_path }}:/var/log/corganize
