version: '3.7'
services:
  consumer:
    image: jaeseoparkdocker/corganized-consumer:latest
    restart: unless-stopped
    environment:
      TZ: America/Denver
      CRG_SERVER_HOST: http://{{ corganize_server_host }}:{{ corganize_server_port }}
      CRG_SERVER_APIKEY: ${CRG_SERVER_APIKEY}
    volumes:
      - {{ log_path }}:/var/log/corganized-consumer
      - {{ data_path }}:/data
