---
- name: Ensure git is installed
  package:
    name: git
    state: present

- name: Check if docker compose file is present
  ansible.builtin.stat:
    path: "{{ app_path }}/docker-compose.yml"
  register: docker_compose_file

- name: Ensure docker compose is stopped if the file exists
  community.docker.docker_compose_v2:
    project_src: "{{ app_path }}"
    state: absent
  when: docker_compose_file.stat.exists

- name: Checkout the code base
  git:
    repo: "https://github.com/jaeseopark/bobbins.git"
    dest: "{{ app_path }}"
    version: "{{ branch }}" # Specify branch/tag/commit
    update: yes # Pull changes if the repo already exists

- name: Ensure required directories are present
  file:
    path: "{{ item }}"
    state: directory
    mode: "0755"
  loop:
    - "{{ mnt_path }}"
    - "{{ data_path }}"

- name: Copy .env file to app path
  template:
    src: "bobbins.env"
    dest: "{{ app_path }}/.env"

- name: Copy docker-compose template to app path
  template:
    src: "docker-compose.j2"
    dest: "{{ app_path }}/docker-compose.yml"

- name: Ensure docker compose is running
  community.docker.docker_compose_v2:
    project_src: "{{ app_path }}"
    state: present
    build: always