[Interface]
PrivateKey = {{ private_key.stdout }}
Address = {{ wg_ip }}/32

{% for server in groups['vpnservers'] %}
[Peer]
PublicKey = {{ server_public_key.stdout }}
AllowedIPs = {{ wg_server_ip }}/32
Endpoint = {{ server }}:51820
PersistentKeepalive = 25   
{% endfor %}
