- name: Save the current user as a variable
  ansible.builtin.command: whoami
  register: current_user
- name: Save the current user id (UID) as a variable
  ansible.builtin.command: id -u
  register: current_user_id
- name: Print the current user
  ansible.builtin.debug:
    msg: "Current user is: {{ current_user.stdout }} with UID: {{ current_user_id.stdout }}"
- name: Ensure git is installed
  package:
    name: git
    state: present
- name: Checkout the code base
  git:
    repo: "https://{{ git_token }}@github.com/jaeseopark/corganize-web.git"
    dest: "{{ app_path }}"
    version: "{{ branch }}"
    force: yes
- name: Ensure folder(s) exists
  file:
    path: "{{ item }}"
    mode: u=rwx,g=rwx,o=rx
    state: directory
  loop:
    - "{{ app_path }}"
    - "{{ mnt_path }}"
    - "{{ log_path }}"
- name: Check if docker compose file exists
  ansible.builtin.stat:
    dest: "{{ app_path }}/docker-compose.yml"
  register: docker_compose_file
- name: Ensure Docker Compose is stopped if the file exists
  community.docker.docker_compose_v2:
    project_src: "{{ app_path }}"
    state: absent
  when: docker_compose_file.stat.exists
- name: Copy docker file for the UI
  template:
    src: Dockerfile.ui.j2
    dest: "{{ app_path }}/crgw-ui/Dockerfile"
- name: Copy compose file from the master node
  template:
    src: docker-compose.j2
    dest: "{{ app_path }}/docker-compose.yml"
- name: Copy env file from the master node
  template:
    src: env.j2
    dest: "{{ app_path }}/.env"
- name: Ensure Docker Compose is running (build errors may not surface -- try building manually on remote host if it takes too long (>10 minutes))
  community.docker.docker_compose_v2:
    project_src: "{{ app_path }}"
    state: present
    build: always
