version: "3.7"
services:
  wireguard:
    image: ghcr.io/linuxserver/wireguard:latest
    container_name: transmission-wireguard
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
    environment:
      - PUID={{ puid }}
      - PGID={{ pgid }}
      - TZ={{ timezone }}
    ports:
      - {{ trns_port }}:{{ trns_port }}/tcp
      - {{ trns_port_bkup }}:{{ trns_port_bkup }}/tcp
      - 9091:9091 # Default TRNS API PORT
    volumes:
      - {{ wg_conf_path }}:/config/wg0.conf:ro
      - {{ wg_resolv_conf_path }}:/etc/resolv.conf:ro
      - /lib/modules:/lib/modules:ro
    sysctls:
      - net.ipv6.conf.all.disable_ipv6=0
      - net.ipv4.conf.all.src_valid_mark=1
    restart: unless-stopped
  transmission:
    image: ghcr.io/linuxserver/transmission:latest
    container_name: transmission
    environment:
      - PUID={{ puid }}
      - PGID={{ pgid }}
      - TZ={{ timezone }}
      - TRANSMISSION_WEB_HOME=/combustion-release/
    volumes:
      - {{ trns_mnt_path }}:/config
      - {{ media_path }}/media-downloads:/downloads/complete
      - {{ media_path }}/media-downloads-inc:/downloads/incomplete
    restart: unless-stopped
    network_mode: "service:wireguard"
    depends_on: [ "wireguard", ]
  transmission-bkup:
    image: ghcr.io/linuxserver/transmission:latest
    container_name: transmission-bkup
    environment:
      - PUID={{ puid }}
      - PGID={{ pgid }}
      - TZ={{ timezone }}
      - TRANSMISSION_WEB_HOME=/combustion-release/
    volumes:
      - {{ trns_bkup_mnt_path }}:/config
      - {{ trns_bkup_dl_path }}:/downloads
    restart: unless-stopped
    network_mode: "service:wireguard"
    depends_on: [ "wireguard", ]