
---
version: "2.1"
services:
  radarr:
    image: lscr.io/linuxserver/radarr:latest
    container_name: radarr
    environment:
      - PUID=0
      - PGID=0
      - TZ={{ timezone }}
    volumes:
      - {{ radarr_mnt_path }}/config:/config
      - {{ library_path }}:/media
      - {{ download_dest_path }}:/downloads/complete
    ports:
      - {{ radarr_port }}:7878
    restart: unless-stopped
  sonarr:
    image: lscr.io/linuxserver/sonarr:latest
    container_name: sonarr
    environment:
      - PUID=0
      - PGID=0
      - TZ={{ timezone }}
    volumes:
      - {{ sonarr_mnt_path }}/config:/config
      - {{ library_path }}:/media
      - {{ download_dest_path }}:/downloads/complete
    ports:
      - {{ sonarr_port }}:8989
    restart: unless-stopped
  prowlarr:
    image: lscr.io/linuxserver/prowlarr:latest
    container_name: prowlarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ={{ timezone }}
    volumes:
      - {{ prowlarr_mnt_path }}/config:/config
    ports:
      - {{ prowlarr_port }}:9696
    restart: unless-stopped
