version: '3'
services:
  homeassistant:
    container_name: homeassistant
    image: "ghcr.io/home-assistant/home-assistant:stable"
    volumes:
      - {{ mnt_path }}:/config
      - /etc/localtime:/etc/localtime:ro
    restart: unless-stopped
    privileged: true
    ports:
      - 8123:8123
    depends_on:
      - mqtt
  mqtt:
    container_name: homeassistant-mqtt
    image: eclipse-mosquitto:2.0
    volumes:
      - {{ mnt_path_mqtt }}/mosquitto.conf:/mosquitto/config/mosquitto.conf:ro
      - {{ mnt_path_mqtt }}/passwd_file:/mosquitto/passwd_file:ro
      - {{ mnt_path_mqtt }}/data:/mosquitto/data
      - {{ mnt_path_mqtt }}/log:/mosquitto/log
    restart: unless-stopped
    ports:
      - 1883:1883
      - 9001:9001
