version: '3'
services:
  homeassistant:
    container_name: homeassistant:latest
    image: "ghcr.io/home-assistant/home-assistant:stable"
    volumes:
      - {{ mnt_path }}:/config
      - /etc/localtime:/etc/localtime:ro
    restart: unless-stopped
    privileged: true
    ports:
      - 8123:8123
