---
header: false
footer: false

theme: default
links: []

services:
  - name: Services
    items:
      - name: Pi-hole
        logo: assets/img/pihole.svg
        url: http://{{ pihole_host }}:805/admin
        tag: {{ pihole_host }}
      - name: Corganize
        logo: assets/img/corganize.svg
        url: http://{{ corganize_host }}:5823
        tag: {{ corganize_host }}
      - name: openmediavault
        logo: assets/img/omv.svg
        url: http://{{ nas_host }}
      - name: Jellyfin
        logo: assets/img/jellyfin.svg
        url: http://{{ jellyfin_host }}:8096
        tag: {{ jellyfin_host }}
      - name: Transmission for Jellyfin
        logo: assets/img/transmission.svg
        url: http://{{ jellyfin_host }}:9096
        tag: {{ jellyfin_host }}
      - name: Paperless
        logo: assets/img/paperless.svg
        url: http://{{ paperless_host }}:29743
