---
header: false
footer: false

theme: default
links: []

services:
  - name: Services
    items:
{% for app in apps %}
      - name: {{ app.name | title }}
        logo: assets/img/{{ app.name }}.svg
        url: http://{{ app.host }}:{{ app.port }}
        tag: {{ app.host }}
{% endfor %}
      - name: openmediavault
        logo: assets/img/omv.svg
        url: http://{{ nas_host }}
        tag: {{ nas_host }}
      - name: Transmission for Jellyfin
        logo: assets/img/transmission.svg
        url: http://{{ jellyfin_host }}:{{ jellyfin_trns_port }}
        tag: {{ jellyfin_host }}
      - name: Reolink
        logo: assets/img/reolink.svg
        url: http://crispreolink
        tag: reolink
  - name: Bookmarks
    items:
      - name: Khloe's Thingiverse Collection
        url: https://www.thingiverse.com/sewingstroll/collections/40823979/things
      - name: GoodWill Sale Tag
        url: https://www.goodwill.ab.ca/green-tag-sale/
      - name: Slicing Checklist
        url: https://docs.google.com/spreadsheets/d/1D0y-Y-rxXIb8NaSQ6eIJN6aM3TV309GFlZqG6N_G5vE/edit?usp=sharing
