- name: Assert required variables are provided
  assert:
    that:
      - "{{ item.condition }}"
    fail_msg: "{{ item.fail_msg }}"
  loop:
    - { condition: "app_path is defined", fail_msg: "You must provide 'app_path'" }
    - { condition: "restic_repository_name is defined", fail_msg: "You must provide 'restic_repository_name'" }
    - { condition: "restic_backup_paths | length > 0", fail_msg: "restic_backup_paths must have at least one element." }
    - { condition: "restic_backup_paths | selectattr('src', 'defined') | length == restic_backup_paths | length", fail_msg: "Each item in restic_backup_paths must have a 'src' property." }
    - { condition: "restic_backup_paths | length == 1 or (restic_backup_paths | selectattr('target', 'defined') | length == restic_backup_paths | length)", fail_msg: "Each item in restic_backup_paths must have a 'target' property if multiple paths are provided." }

- name: Ensure restic backup is stopped if the file exists and restart_restic is true
  community.docker.docker_compose_v2:
    project_src: "{{ app_path }}"
    files:
      - docker-compose-restic.yml
    state: absent
  when: docker_compose_file.stat.exists and (restart_restic | default(false) | bool)

- name: Copy restic backup Docker Compose file
  template:
    src: restic-docker-compose.j2
    dest: "{{ app_path }}/docker-compose-restic.yml"

- name: Ensure restic backup is running
  community.docker.docker_compose_v2:
    project_src: "{{ app_path }}"
    files:
      - docker-compose-restic.yml
    state: present
    pull: missing
    remove_orphans: false # Important: There are multiple docker compose files in the same directory.
