version: "3"
services:
  filebrowser:
    image: filebrowser/filebrowser:s6
    restart: unless-stopped
    ports:
      - "{{ filebrowser_port }}:8080"
    volumes:
      - "{{ data_path }}:/srv:ro"
      - "{{ db_file_path }}:/database/filebrowser.db"
      - "{{ config_file_path }}:/config/settings.json"
    environment:
      PUID: "{{ uid }}"
      PGID: "{{ gid }}"
