version: '3'
services:
  homeassistant:
    container_name: homeassistant
    image: "ghcr.io/home-assistant/home-assistant:stable"
    volumes:
      - {{ mnt_path }}:/config
      - /etc/localtime:/etc/localtime:ro
    restart: unless-stopped
    privileged: true
    ports:
      - 8123:8123
    depends_on:
      - mqtt
      - rtl433
  mqtt:
    container_name: homeassistant-mqtt
    image: eclipse-mosquitto:2.0
    volumes:
      - {{ mnt_path_mqtt }}/mosquitto.conf:/mosquitto/config/mosquitto.conf:ro
      - {{ mnt_path_mqtt }}/data:/mosquitto/data
      - {{ mnt_path_mqtt }}/log:/mosquitto/log
    restart: unless-stopped
    ports:
      - 1883:1883 # Exposed for MQTT Explorer access from mac
  rtl433:
    container_name: homeassistant-rtl433
    image: hertzg/rtl_433:23.11
    devices:
      - "{{ rtl_usb_path }}"
    command:
      - "-Mtime:unix:usec:utc"
      - "-Mbits"
      - "-Mlevel"
      - "-Mnoise"
      - "-Mprotocol"
      - "-Mstats:2:300"
      - "-Fmqtt://mqtt,events=rtl_433[/model][/id]"
      - "-Ylevel=0" # Manual detection level used to determine pulses (-1.0 to -30.0) (0=auto).
      - "-Yautolevel" # Set minlevel automatically based on average estimated noise.
    depends_on:
      - mqtt
  z2m:
    container_name: zigbee2mqtt
    image: koenkk/zigbee2mqtt
    restart: unless-stopped
    environment:
      - TZ=America/Denver
    devices:
      - {{ zigbee_usb_path }}:/dev/ttyACM0
    volumes:
      - {{ mnt_path_zigbee_data }}:/app/data
      - /run/udev:/run/udev:ro
