user www-data;
worker_processes auto;

events {
    worker_connections 1024;
}

http {
    {% include 'upstream.j2' %}
    {% include 'ssl-redirects.j2' %}
    {% include 'default-servers.j2' %}
    {% include 'regular-servers.j2' %} # servers for specific apps (known subdomain match)
    {% include 'unknown-subdomain-servers.j2' %} # catch-all redirects back to base domain
}
