[Interface]
PrivateKey = {{ private_key.stdout }}
Address = {{ wg_ip }}

[Peer]
PublicKey = {{ server_public_key.stdout }}
AllowedIPs = {{ ip_range }}
Endpoint = {{ wg_server_endpoint }}:51820
PersistentKeepalive = 25
