services:
  rtl433:
    image: hertzg/rtl_433:25.02
    devices:
      - "{{ rtl_usb_path }}"
    volumes:
      - "{{ app_path }}/rtl433.conf:/etc/rtl_433/rtl_433.conf:ro"
    command:
      - "-c/etc/rtl_433/rtl_433.conf"
      - "-F{{ mqtt_connection_string }}"
    depends_on:
      - mosquitto

  mosquitto:
    image: eclipse-mosquitto:latest
    ports:
      - "1883:1883"
      - "9001:9001"
    volumes:
      - "{{ app_path }}/mosquitto.conf:/mosquitto/config/mosquitto.conf:ro"
