- name: Ensure git is installed
  package:
    name: git
    state: present

- name: Ensure required directories are present
  file:
    path: "{{ item }}"
    state: directory
    mode: "0755"
  loop:
    - "{{ app_path }}"
    - "{{ env_parts }}"
    - "{{ mnt_path }}"
    - "{{ data_path }}"

- name: Check if docker compose file is present
  ansible.builtin.stat:
    path: "{{ app_path }}/docker-compose.yml"
  register: docker_compose_file

- name: Ensure Docker Compose is stopped if the file exists
  community.docker.docker_compose_v2:
    project_src: "{{ app_path }}"
    state: absent
  when: docker_compose_file.stat.exists

- name: Checkout the code base
  git:
    repo: https://github.com/jaeseopark/receep.git
    dest: "{{ app_path }}"
    version: "{{ branch }}" # Specify branch/tag/commit
    update: yes # Pull changes if the repo already exists

- name: Render templates
  template:
    src: "{{ item.src }}"
    dest: "{{ app_path }}/{{ item.dest }}"
  loop:
    - { src: "env.j2", dest: ".env" }
    - { src: "docker-compose.j2", dest: "docker-compose.yml" }

- name: Ensure Docker Compose is running
  community.docker.docker_compose_v2:
    project_src: "{{ app_path }}"
    pull: missing
    state: present
