#!/bin/bash
set -e

# Configure git user
git config --global user.name "{{ git_username }}"
git config --global user.email "{{ git_email }}"

# Configure GitHub HTTPS rewrite for authenticated fetches
git config --global url."https://{{ git_username }}:{{ git_pat }}@github.com".insteadOf "https://github.com"
